body {
   
    font-family: 'Montserrat Alternates', sans-serif;
    background-image: url('Images/background.png');
    margin: 6;
    padding: 5;
    box-sizing: border-box;
    
    line-height: 1.6;
}

header {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #111111;
    text-align: center;
    font-size: 2.0rem;
    position: relative; /* Added position */
    width: 70%;
    left: 15%;
    border-radius: 10px;
}


section {
    font-family: 'Montserrat Alternates', sans-serif;
    margin-bottom: 20px;
    overflow: hidden;
    width: 60%;
    margin-left: 20%;
    
}

p{

    font-family: 'Montserrat Alternates', sans-serif;
    color: #a7a4a4;
    white-space: pre;
}

hr{
    border-style: solid none none none;
    border-color: #C12323;
    border-width: 0.2px;
    width: 40%;
}

h1, h2, h3, h4, ul, li, p, img{
    margin-left: 2%;
}


h1 {
    
    font-family: 'Montserrat Alternates', sans-serif;
    color: #C12323;
    font-size: 3rem;
    margin-bottom: 0.5rem;
    }
h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #C12323; /* White text color for section headings */
    font-size: 2rem;
}

h3{
    font-family: 'Montserrat Alternates', sans-serif;
    color: #C12323; /* White text color for section headings */
    font-size: 1rem;
}

ul {
    font-family: 'Montserrat Alternates', sans-serif;
    list-style-type: none;
    padding: 0;
}

li {
    font-family: 'Montserrat Alternates', sans-serif;
    margin-bottom: 5px;
    white-space: pre;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #a7a4a4;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light box shadow for images */
}

footer {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color:  #2e2e2e; /* Dark blue background for footer */
    color: #fff; /* White text color for footer */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: #3498db; /* Blue color for links */
}
