
       body {
            background-image: url('Images/background.png');
            background-size: cover; /* Adjust the background size as needed */
            background-position: center; /* Center the background image */
            background-repeat: no-repeat; /* Do not repeat the background image */
        
            font-family: 'Montserrat Alternates', sans-serif;
            /*background-image: linear-gradient(#2e2e2e, #110b0a);*/
            color: #c4c4c4;
            line-height: 1.6;
        }

        header {
            font-family: 'Montserrat Alternates', sans-serif;
            /*background-color: #292929;*/  
            color: #C12323;
            /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
            /*border-radius: 5px;*/
            /*background-color: #181818;*/
            /*padding: 1rem 0;*/    
            text-align: center;
            font-size: 2.0rem;
            position: relative; /* Added position */
        }

        header img {
            width: 100px; /* Adjust the size of the image */
            height: 100px; /* Adjust the size of the image */
            
            position: absolute; /* Position it inside the header */
            top: 50%; /* Center it vertically */
            left: 10%; /* Center it horizontally */
            transform: translate(-50%, -50%); /* Center it precisely */
        }

        hr{
            margin-top: 7%;
            border-style: solid none none none;
            border-color: #aaa9ac;
            border-width: 0.2px;
            width: 90%;
        }

    
        section {
            padding: 2rem;
            text-align: Center;
        }

        footer {
            
            background-color: #333333;
            color: #aaa9ac;
            padding: 1rem 0;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        
        tr{
            padding-top: 5%;
        }

        h1 {
            font-family: 'Montserrat Alternates', sans-serif;
            color: #C12323;
            font-size: 4rem;
            margin-bottom: 0.5rem;
            }

        h2 {
            font-family: 'Montserrat Alternates', sans-serif;
            color: #C12323;
            font-size: 2.3rem;
            margin-bottom: 0.5rem;
        }

        h3{
            font-family: 'Montserrat Alternates', sans-serif;
            color: #C12323;
            margin-bottom: 0.5rem;
            font-size: 2rem;
        }
        h4 {

            font-family: 'Montserrat Alternates', sans-serif;
            color: #C12323;
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
        }

        p {
            font-family: 'Didact-Gothic', sans-serif;
            font-size: 1.1rem;
            margin-bottom: 1.5rem;
            color: #aaa9ac;
            white-space: pre;
            
        }

        ul {
            font-family: 'Montserrat Alternates', sans-serif;
            list-style: none;
        }

        li {
            font-family: 'Montserrat Alternates', sans-serif;
            margin-bottom: 0.5rem;
            color: #C12323;
           
            
        }
        a{
            text-decoration: none;

        }

        footer p {
            margin: 0;
        }