
.parent-container {
    display: flex;
   }
   .child-element {
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
 }
 

       body {
            font-family: 'Montserrat Alternates', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: #1f1f1f;
            color: #c4c4c4;
            line-height: 1.6;
        }

        header {
            font-family: 'Montserrat Alternates', sans-serif;
            background-color: #292929;
            color: #C12323;
            padding: 1rem 0;
            text-align: center;
            font-size: 2.0rem;
            position: relative; /* Added position */
        }

        header img {
            width: 100px; /* Adjust the size of the image */
            height: 100px; /* Adjust the size of the image */
            
            position: absolute; /* Position it inside the header */
            top: 50%; /* Center it vertically */
            left: 10%; /* Center it horizontally */
            transform: translate(-50%, -50%); /* Center it precisely */
        }

        section {
            padding: 2rem;
            text-align: left;
        }

        footer {
            
            background-color: #333333;
            color: #aaa9ac;
            padding: 1rem 0;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        h1 {
            font-family: 'Montserrat Alternates', sans-serif;
            color: #C12323;
            font-size: 3rem;
            margin-bottom: 0.5rem;
            }

        h2 , h4 {
            font-family: 'Montserrat Alternates', sans-serif;
            color: #C12323;
            font-size: 1.8rem;
            margin-bottom: 0.5rem;
        }

        h3{
            font-family: 'Montserrat Alternates', sans-serif;
            color: #C12323;
            margin-bottom: 0.5rem;
        }

        p {
            font-family: 'Montserrat Alternates', sans-serif;
            font-size: 1.1rem;
            margin-bottom: 1.5rem;
            color: #C12323;
            
        }

        ul {
            font-family: 'Montserrat Alternates', sans-serif;
            list-style: none;
        }

        li {
            font-family: 'Montserrat Alternates', sans-serif;
            margin-bottom: 0.5rem;
            color: #C12323;
            
        }

        footer p {
            margin: 0;
        }